<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title><%=title%></title>
  <meta name="keywords" content="博客视界-blog-world,博客世界,博客,视界,世界,个人博客,技术分享,博客分享" />
  <meta name="description" content="博客视界-blog-world致力于打造简介，大方的博客空间，在这里可以随时记录生活琐事，技术心得等等。" />
  <link rel="stylesheet" type="text/css" href="css/admin/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="css/base.css">
  <link rel="stylesheet" type="text/css" href="css/basecss3.css">
  <link rel="stylesheet" type="text/css" href="css/animate.css">
  <script type="text/javascript" src="js/jquery.min.js"></script>
  <script type="text/javascript" src="js/prefixfree.min.js"></script>
  <script type="text/javascript" src="js/public.js"></script>
</head>
<body>
  <% include left.ejs %>
  <div class="right">
    <div class="loading" style="display:block;">
      <div class="spinner">
        <div class="rect1"></div>
        <div class="rect2"></div>
        <div class="rect3"></div>
        <div class="rect4"></div>
        <div class="rect5"></div>
      </div>
    </div>
    <div class="rightcont">
      <% if(flag == 'index'){ %>
        <% include index.ejs %>
      <% }else if(flag == 'write'){ %>
        <% include write.ejs %>
      <% }else{ %>
        <% include list.ejs %>
      <% } %>
    </div>
  </div>
  <script type="text/javascript">
   $(function(){
    loading.Close();
    //首页左侧menu
    $('.menu').find('li').hover(function(){
      $(this).addClass('animated fadeIn');
    },function(){
      $(this).removeClass('animated fadeIn');
    })
    
    $('.blog_title').hover(function(){
      $(this).addClass('animated pulse');
    },function(){
      $(this).removeClass('animated pulse');
    })
  })
  </script>
</body>
</html>