<div class="left">
    <div class="author">
      <div class="headportrait">
        <img src="images/headportrait.png" width="100%">
      </div>
      <p><%=name%></p>
      <p>programmer</p>
    </div>
    <div>
      <ul class="menu">
        <li class="menu_select">
          <a href="/write">
            <i class="menu_icon glyphicon glyphicon-pencil"></i>
            <span>编写文章</span>
          </a>
        </li>
        <li>
          <a href="/mylist">
            <i class="menu_icon glyphicon glyphicon-pencil"></i>
            <span>我发布的文章</span>
          </a>
        </li>
      </ul>
    </div>
  </div>