    <div class="blogcont">
      <ul>
        <% for(var i=0;i<article.length;i++){ %>
        <li class="ad_li_list">
          <a class="ad_list" href="/article?id=<%=article[i].id%>"><%=article[i].title%></a>
        </li>
        <% } %>
      </ul>
    </div>