<div class="write">
  <div class="formbox">
    <form name="form" id="form" action="" method="post">
      <ul>
        <li>
            <div class="input-group">
              <span class="input-group-addon" id="basic-addon1">标题：</span>
              <input type="text" class="form-control inpput" placeholder="请输入文章标题" aria-describedby="basic-addon1">
            </div>
        </li>
        <li>
            <div class="input-group">
              <span class="input-group-addon" id="basic-addon1">作者：</span>
              <input type="text" class="form-control inpput1" aria-describedby="basic-addon1" value="">
            </div>
        </li>
        <li>
            <div class="input-group">
              <span class="input-group-addon" id="basic-addon1">内容：</span>
              <div class="textal">
              </div>
            </div>
        </li>
      </ul>
    </form>
  </div>
</div>