    <div class="blogcont">
      <ul>
        <li class="list">
          <a class="blog_title" href="#">这是我的第一篇博客</a>
          <p class="brief">这是我的第一篇博客这是我的第一篇博客这是我的第一篇博客这是我的第一篇博客这是我的第一篇博客这是我的第一篇博客这是我的第一篇博客这是我的第一篇博客这是我的第一篇博客这是我的第一篇博客这是我的第一篇博客这是我的第一篇博客这是我的第一篇博客这是我的第一篇博客这是我的第一篇博客这是我的第一篇博客这是我的第一篇博客这是我的第一篇博客这是我的第一篇博客...</p>
          <div style="overflow:hidden;">
            <span style="float:left;">作者:&nbsp;&nbsp;戴明儒</span><span style="float:right;">2016-1-21</span>
          </div>
        </li>
        <li class="list">
          <a class="blog_title" href="#">这是我的第二篇博客</a>
          <p class="brief">这是我的第一篇博客这是我的第一篇博客这是我的第一篇博客这是我的第一篇博客这是我的第一篇博客这是我的第一篇博客这是我的第一篇博客这是我的第一篇博客这是我的第一篇博客这是我的第一篇博客这是我的第一篇博客这是我的第一篇博客这是我的第一篇博客这是我的第一篇博客这是我的第一篇博客这是我的第一篇博客这是我的第一篇博客这是我的第一篇博客这是我的第一篇博客...</p>
          <div style="overflow:hidden;">
            <span style="float:left;">作者:&nbsp;&nbsp;戴明儒</span><span style="float:right;">2016-1-21</span>
          </div>
        </li>
        <li class="list">
          <a class="blog_title" href="#">这是我的第三篇博客</a>
          <p class="brief">这是我的第一篇博客这是我的第一篇博客这是我的第一篇博客这是我的第一篇博客这是我的第一篇博客这是我的第一篇博客这是我的第一篇博客这是我的第一篇博客这是我的第一篇博客这是我的第一篇博客这是我的第一篇博客这是我的第一篇博客这是我的第一篇博客这是我的第一篇博客这是我的第一篇博客这是我的第一篇博客这是我的第一篇博客这是我的第一篇博客这是我的第一篇博客...</p>
          <div style="overflow:hidden;">
            <span style="float:left;">作者:&nbsp;&nbsp;戴明儒</span><span style="float:right;">2016-1-21</span>
          </div>
        </li>
      </ul>
    </div>