    <div class="blogcont">
      <ul>
        <li>
          <h3 class="active_title"><%=article[indexa].title%></h3>
          <p class="active_time"><span>作者:&nbsp;&nbsp;<%=article[indexa].auther%></span><span><%=article[indexa].createtime%></span></p>
          <img src="images/test.jpg" width="80%" class="blogimg">
          <p class="brief"><%=article[indexa].article%></p>
        </li>
        <li class="history" onclick="CloseArticle();">
          <span>返回列表</span>
        </li>
      </ul>
    </div>
