    <div class="blogcont">
      <ul>
        <li>
          <h3 class="active_title">这是我的第一篇博客</h3>
          <p class="active_time"><span>作者:&nbsp;&nbsp;戴明儒</span><span>2016-1-23</span></p>
          <img src="images/test.jpg" width="80%" class="blogimg">
          <p class="brief">这是我的第一篇博客这是我的第一篇博客这是我的第一篇博客这是我的第一篇博客这是我的第一篇博客这是我的第一篇博客这是我的第一篇博客这是我的第一篇博客这是我的第一篇博客这是我的第一篇博客这是我的第一篇博客这是我的第一篇博客这是我的第一篇博客这是我的第一篇博客这是我的第一篇博客这是我的第一篇博客这是我的第一篇博客这是我的第一篇博客这是我的第一篇博客...</p>
        </li>
        <li class="history" onclick="CloseArticle();">
          返回列表
        </li>
      </ul>
    </div>
