    <div class="blogcont">
      <ul>
        <li>
          <h3 class="active_title"><%=article[0].title%></h3>
          <p class="active_time"><span>作者:&nbsp;&nbsp;<%=article[0].auther%></span><span><%=article[0].createtime%></span></p>
          <img src="images/test.jpg" width="80%" class="blogimg">
          <p class="brief"><%=article[0].article%></p>
        </li>
        <li class="history" onclick="CloseArticle();">
          <a href="/list">返回列表</a>
        </li>
      </ul>
    </div>
