html(xmlns="http://www.w3.org/1999/xhtml")
  head
    // meta
    meta(charset="utf-8")
    meta(name="description", content="CNode：Node.js专业中文社区")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    meta(name="keywords", content="nodejs, node, express, connect, socket.io")
    meta(name="apple-itunes-app", content="app-id=954734793")
    // see http://smerity.com/articles/2013/where_did_all_the_http_referrers_go.html
    meta(name="referrer", content="always")
    meta(name="author", content="EDP@TaoBao")
    meta(property="wb:webmaster", content="617be6bd946c6b96")
    link(title="RSS", type="application/rss+xml", rel="alternate", href="/rss")
    link(rel="icon", href="//dn-cnodestatic.qbox.me/public/images/cnode_icon_32.png", type="image/x-icon")
    // style
    link(rel="stylesheet", href="//dn-cnodestatic.qbox.me/public/stylesheets/index.min.36689462.min.css", media="all")
    // scripts
    script(src="//dn-cnodestatic.qbox.me/public/index.min.4dde195f.min.js")
    title node app.js&#26102;express&#25253;&#38169;cannot find module &#38;#x27;jade&#38;#x27; - CNode&#25216;&#26415;&#31038;&#21306;
    meta(content="_csrf", name="csrf-param")
    meta(content="6uzfHOFW-MuuhbZaaSVrUHbUB4SHw6bMZ5Bw", name="csrf-token")
  body
    // navbar
    .navbar
      .navbar-inner
        .container
          a.brand(href="/")
            img(src="//dn-cnodestatic.qbox.me/public/images/cnodejs_light.svg")
          form#search_form.navbar-search(action="/search")
            input#q.search-query.span3(type="text", name="q", value="")
          ul.nav.pull-right
            li
              a(href="/") &#39318;&#39029;
            li
              a(href="/getstart") &#26032;&#25163;&#20837;&#38376;
            li
              a(href="/api") API
            li
              a(href="/about", target="") &#20851;&#20110;
            li
              a(href="/signup") &#27880;&#20876;
            li
              a(href="/signin") &#30331;&#24405;
          a#responsive-sidebar-trigger.btn.btn-navbar
            span.icon-bar
            span.icon-bar
            span.icon-bar
