<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title><%=title%></title>
  <meta name="keywords" content="博客视界-blog-world,博客世界,博客,视界,世界,个人博客,技术分享,博客分享" />
  <meta name="description" content="博客视界-blog-world致力于打造简介，大方的博客空间，在这里可以随时记录生活琐事，技术心得等等。" />
  <link rel="stylesheet" type="text/css" href="css/base.css">
  <script type="text/javascript" src="js/jquery.min.js"></script>
</head>
<body>
  <div class="left">
    <div class="author">
      <div class="headportrait">
        <img src="<%=rootpath%>/public/images/headportrait.png" width="100%">
      </div>
    </div>
  </div>
</body>
</html>