<div class="left">
    <div class="author">
      <div class="headportrait">
        <img src="images/headportrait.png" width="100%">
      </div>
      <p><%=name%></p>
      <p>programmer</p>
    </div>
    <div>
      <ul class="menu">
        <li data_src="/index" class="menu_select">
          <a href="/">
            <i class="menu_icon glyphicon glyphicon-home"></i>
            <span>Home</span>
          </a>
        </li>
        <li data_src="/list">
          <a href="/list">
            <i class="menu_icon glyphicon glyphicon-pencil" aria-hidden="true"></i>
            <span>Bloglist</span>
          </a>
        </li>
        <li data_src="/about">
          <a href="javascript:void(0);">
            <i class="menu_icon glyphicon glyphicon-user" aria-hidden="true"></i>
            <span>About me</span>
          </a>
        </li>
      </ul>
    </div>
  </div>